<nav>
    <ul>
        <li><a href="/" {% if page.url == "/" %}style="color: red;"{% endif %}>
          Home</a></li>
        <li><a href="/about" {% if page.url == "/about" %}style="color: red;"{% endif %}>
          About</a></li>
        <li><a href="/education" {% if page.url == "/education" %}style="color: red;"{% endif %}>
          Education</a></li>
        <li><a href="/gunn-sports-website" {% if page.url == "/gunn-sports-website" %}style="color: red;"{% endif %}>
          Gunn Sports</a></li>
        <li><a href="/gunn-sports" {% if page.url == "/gunn-sports" %}style="color: red;"{% endif %}>
          Website Remake</a></li>
        <li><a href="/blog" {% if page.url == "/blog" %}style="color: red;"{% endif %}>
          Blog</a></li>
    </ul>
</nav>
